*{
	margin: 0;
	padding: 0;
	font-family: "苹方","微软雅黑";
	font-style: normal;
	font-weight: normal;
}
@font-face {
  font-family: 'iconfont';  /* project id 974143 */
  src: url('//at.alicdn.com/t/font_974143_xa79z7eimjs.eot');
  src: url('//at.alicdn.com/t/font_974143_xa79z7eimjs.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_974143_xa79z7eimjs.woff') format('woff'),
  url('//at.alicdn.com/t/font_974143_xa79z7eimjs.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_974143_xa79z7eimjs.svg#iconfont') format('svg');
}
.iconfont{
	font-family: iconfont;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}

