.root{
	max-width: 640px;
	/* height: 100vh; */
	margin: 0 auto;
	/* background: #f5f5f5; */
}
.head{
	width: 100%;
	height: 1.56rem;
	display: flex;
	align-items: center;
	background: #f2f2f2;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.head div{
	font-size: 0.8rem;
	margin: 0 0.48rem;
	color: rgba(0,0,0,0.3);
}
.head span{
	font-size: 0.48rem;
	margin-left: 3rem;
}
/* 头部结束 */
.dizhi{
	width: 10.2rem;
	height: 2.88rem;
	margin: 0 auto;
	/* background: #008000; */
	margin-top: 1.8rem;
	border: 0.01rem solid rgba(0,0,0,0.08);

}
.dizhi .top{
	width: 9.48rem;
	height: 1.08rem;
	margin: 0 auto;
	border-bottom: 0.06rem solid rgba(0,0,0,0.05);
	display: flex;
	align-items: center;
	box-sizing: border-box;
}
.dizhi .top i{
	font-size: 0.45rem;
	display: block;
}
.dizhi .top .text{
	color: orange;
	margin-left: 0.42rem;
}
.dizhi .top .text2{
	margin-left: 0.99rem;
}
.dizhi .top .text1{
	margin-left: 3.4rem;
}
.dizhi .bottom{
	width: 9.48rem;
	height: calc(100% - 1.08rem);
	margin: 0 auto;
	display: flex;
	justify-content: space-between
}
.dizhi .bottom .left{
	width: 5.43rem;
	height: 100%;
}
.dizhi .bottom .left i{
	font-size: 0.4rem;
}
.dizhi .bottom .right{
	width: 2rem;
	height: 100%;
	line-height:1.8rem ;
	display: flex;
	justify-content: flex-end;
}
.dizhi .bottom .right i{
	font-size: 0.5rem;
}
/* 脚本开始 */
.footer{
	width:100%;
	height:1.56rem;
	background:#ff6801;
	position: fixed;
	bottom:0;
	left:0;
	display: flex;
	justify-content: center;
	box-shadow: 0 0.1rem 0.01rem 0.2rem rgba(0,0,0,0.09);
}
.footer i{
	font-size: 0.5rem;
	color: white;
	line-height:1.56rem ;
}











